rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Regra para os dados dos usuários (React App)
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // Regra para o Púlpito e Retorno (WebRTC / Nuvem)
    match /pulpito_rooms/{document=**} {
      allow read, write: if true;
    }
  }
}
